<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

    <!-- Header -->
    <%- include("./partials/header.ejs") %>

    <!-- Feed -->

    <div>
        <% if (serverMsg) { %>
          <span class="<%= serverMsg.type %>"><%= serverMsg.message %></span>
        <% } %> 
      </div>



    <div class="posts-wrap">
        <ul>
            <% for(let i = 0; i < posts.length; i++) { %>
            <li class="li-posts">
                <div class="post-profile">
                    <div class="post-profile-pic"></div>
                    <h3 class="post-user"><%= posts[i].byUser.username %></h3>
                </div>

                <div class="image-wrapper">
                    <div class="post-image">No image yet</div>

                    <div class="post-loc-map-like">
                        <div class="post-location"><i class="fa-solid fa-location-dot"></i><%= posts[i].location %>
                        </div>

                        <!-- <div class="map">Map</div> -->
                        <div class="like-edit-del">
                            <button class="like-btn" onclick="handleLike('<%= posts[i]._id %>')"><i
                                    class="fa-regular fa-heart"></i></button>
                            <button class="edit-btn"
                                onclick="handleEdit('<%= posts[i]._id %>', '<%= posts[i].location %>', '<%= posts[i].description%>')"><i
                                    class="fa-solid fa-pen"></i></button>
                            <button class="remove-btn" onclick="handleRemove('<%= posts[i]._id %>')"><i
                                    class="fa-solid fa-trash"></i></button></div>
                    </div>

                    <!-- </div> -->
                    <!--  -->

                    <div class="post-user-desc">
                        <div class="post-username"><%= posts[i].byUser.username %></div>
                        <div class="post-description"><%= posts[i].description %></div>
                    </div>

            </li>
            <% } %>
        </ul>
    </div>

    <!-- Hidden, show when edit -->
    <form id="edit-form" hidden>
        <input type="text" name="location" />
        <textarea name="description" cols="30" rows="10"></textarea>
        <!-- <input type="text" placeholder="description" name="description" /> -->
        <!-- <fieldset>
            <input type="radio" name="radio-visible" id="visability">
            <label for="radio-visible">Make public</label>
            <input type="radio" name="radio-hidden" id="visability">
            <label for="radio-visible">Save post</label><br>
        </fieldset> -->
        <button type="submit">Save</button>
    </form>

    <!-- <script src="../functions.js"></script> -->

    <script>
        function handleRemove(id) {
            console.log("Removebtn triggered at: ", id);

            fetch(`/index/${id}`, {
                    method: "DELETE"
                })
                .then((resp) => {
                    console.log(resp);
                    if (resp.redirected) {
                        window.location.href = resp.url;
                    }
                })
                .catch((err) => console.log(err));
        }

        function handleEdit(id, bfLocation, bfDescription) {


            const editForm = document.getElementById("edit-form");

            console.log("Editbtn triggered at: ", id);

            editForm.elements.location.value = bfLocation;
            editForm.elements.description.value = bfDescription;

            console.log(bfLocation);

            document.getElementById("edit-form").hidden = false;

            editForm.onsubmit = (evt) => {
                evt.preventDefault();

                const newLocation = editForm.elements.location.value;

                console.log(newLocation);

                const newDescription = editForm.elements.description.value;

                fetch(`/index/${id}`, {
                        method: "PUT",
                        headers: {
                            "Content-Type" : "application/json",
                        },
                        body: JSON.stringify({
                            location: newLocation,
                            description: newDescription,
                            id: id
                        }),
                    })
                    .then((resp) => {
                        console.log(resp);
                        console.log("New location from fetch: ", newLocation);
                        if (resp.redirected) {
                            window.location.href = resp.url;
                        }
                    })
                    .catch((err) => console.error(err));
            };
        }
    </script>

</body>

</html>