<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My profile</title>
    <link rel="stylesheet" href="/styles/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!-- Header -->
    <%- include("./partials/header.ejs") %>

    <% if (serverMsg.message) { %>
    <p id="server-message" class="<%= serverMsg.type %>"><i
            class="fa-solid fa-circle-check"></i><br><%= serverMsg.message %><br><button onclick="handleSuccess()"
            class="btn-success btn-signup">Thanks</button></p>
    <% } %>

    <div class="profile-header">
        <% for(let i = 0; i < userPosts.length; i++) { %>
        <p><%= userPosts[i].byUser.username %></p>
        <% } %>

        <h1>Hi, username</h1>
        <h2>This is your posts</h2>
        <!-- <button class="profile-posted"><a href="#">Things you posted</a></button>
    <button class="profile-liked"><a href="#">Things you liked</a></button> -->
        <!-- 
        <button onclick="handleProfilePosts()">Your posts</button>
        <button onclick="handleProfileLikes()">Your likes</button> -->

    </div>

    <div class="posts-wrap">
        <ul>
            <% for(let i = 0; i < locals.userPosts.length; i++) { %>
            <li class="li-posts">
                <!-- <div class="post-profile">
                    <div class="post-profile-pic"></div>
                    <h3 class="post-user"><%= userPosts[i].byUser.username %></h3>
                </div> -->

                <div class="image-wrapper">
                    <div class="post-image">
                        <img src="https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Zm9yZXN0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            width="100%" height="200px" alt="">
                    </div>

                    <div class="post-loc-map-like">
                        <div class="post-location"><i class="fa-solid fa-location-dot"></i><%= userPosts[i].location %>
                        </div>

                        <!-- <div class="map">Map</div> -->
                        <div class="like-edit-del">
                            <button class="like-btn" onclick="handleLike('<%= userPosts[i]._id %>')"><i
                                    class="fa-regular fa-heart"></i></button>
                            <button class="edit-btn"
                                onclick="handleEdit('<%= userPosts[i]._id %>', '<%= userPosts[i].location %>', '<%= userPosts[i].description%>')"><i
                                    class="fa-solid fa-pen"></i></button>
                            <button class="remove-btn" onclick="handleRemove('<%= userPosts[i]._id %>')"><i
                                    class="fa-solid fa-trash"></i></button></div>
                    </div>

                    <!-- </div> -->
                </div>
                <!--  -->

                <div class="post-user-desc">
                    <div class="post-description"><%= userPosts[i].description %></div>
                </div>

            </li>
            <% } %>
        </ul>



        <form id="edit-form" hidden>
            <div class="overlay"></div>
            <div class="edit-form-wrap">
                <div class="edit-form">
                    <h2>Edit your post</h2>
                    <div class="location-edit"><i class="fa-solid fa-location-pin"></i><input class="location"
                            type="text" name="location" /><br></div>
                    <textarea class="desc" name="description" cols="30" rows="10"></textarea><br>

                    <input type="radio" name="visibility" id="visibility" value="public">
                    <label for="radio-public">Make public</label>

                    <input type="radio" name="visibility" id="visibility" value="private">
                    <label for="radio-saved">Save post</label><br>

                    <button class="btn-signup edit-post-btn" type="submit">Save changes</button>
                </div>
            </div>
        </form>

        <!-- Hidden, show when edit -->



        <!-- <script src="../functions.js"></script> -->

        <script>
            // function handleProfilePosts() {
            //     console.log("Profile posts btn is triggered");
            //     let serverMsg = document.getElementById("server-message");

            //     serverMsg.classList.add("display-none");
            //     console.log("Servermessage ok", serverMsg);
            // }


            function handleRemove(id) {
                console.log("Removebtn triggered at: ", id);

                fetch(`/profile/${id}`, {
                        method: "DELETE"
                    })
                    .then((resp) => {
                        console.log(resp);
                        if (resp.redirected) {
                            window.location.href = resp.url;
                        }
                    })
                    .catch((err) => console.log(err));
            }

            function handleEdit(id, bfLocation, bfDescription, bfVisibility) {

                const editForm = document.getElementById("edit-form");

                console.log("Editbtn triggered at: ", id);

                editForm.elements.location.value = bfLocation;
                editForm.elements.description.value = bfDescription;
                editForm.elements.visibility.value = bfVisibility;

                console.log("Before loc: ", bfLocation, "Before desc: ", bfDescription, "Before visi: ", bfVisibility);

                document.getElementById("edit-form").hidden = false;

                editForm.onsubmit = (evt) => {
                    evt.preventDefault();

                    const newLocation = editForm.elements.location.value;
                    const newDescription = editForm.elements.description.value;
                    const newVisibility = editForm.elements.visibility.value;

                    console.log("New loc: ", newLocation, "New desc: ", newDescription, "New visi: ",
                        newVisibility);


                    fetch(`/profile/${id}`, {
                            method: "PUT",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                location: newLocation,
                                description: newDescription,
                                visibility: newVisibility,
                                id: id
                            }),
                        })
                        .then((resp) => {
                            console.log(resp);
                            console.log("New location from fetch: ", newLocation, newDescription,
                                newVisibility);
                            if (resp.redirected) {
                                window.location.href = resp.url;
                            }
                        })
                        .catch((err) => console.error(err));
                };
            }

            function handleSuccess() {
                let serverMsg = document.getElementById("server-message");

                serverMsg.classList.add("display-none");
                console.log("Servermessage ok", serverMsg);
            }
        </script>

</body>

</html>